body {
  background-color: rgb(174, 209, 179);
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;

}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: rgb(65, 133, 110);
  font-size: 20px;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(37, 34, 34);
}

.App-link {
  color: #456d79;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body_wrap {
  margin: 0 10%;
}

.question_wrap{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  font-size: 24px;
  border: 2px solid rgb(65, 133, 110);
  height: auto;
}

.question_body {
  padding-top: 5px;
  padding-bottom: 10px;
}

.question_number {
  padding: 5px 20px 0 5px;
  font-weight: bold;
}

.answer_list {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.answer_item {
  margin-bottom: 10px;
}

.next_question {
  background-color: white;
  border: 2px solid rgb(65, 133, 110);
  border-radius: 0.25rem;
  padding: 0 10px;
  color: rgb(65, 133, 110);
  font-weight: 700;
  height: 40px;
  font-size: 18px;
}
